server:
  port: 8091
  tomcat:
    max-threads: 10 #tomcat的最大并发值修改为10,默认是200
spring:
  application:
    name: service-order
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://rm-2ze3ad73c4ptkq260eo.mysql.rds.aliyuncs.com:3306/shop?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: root
    password: Iuu123456
  jpa:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  cloud:
    nacos:
      discovery:
        server-addr: 101.43.144.146:8848
#    sentinel:
#      transport:
#        port: 9999 #跟控制台交流的端口,随意指定一个未使用的端口即可
#        dashboard: localhost:8080 # 指定控制台服务的地址
#rocketmq:
#  name-server: 121.41.6.87:9876 #rocketMQ服务的地址
#  producer:
#    group: shop-order # 生产者组
